.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;

  &.icon-home {
    background-image: url('./../../assets/home.svg');
  }

  &.icon-about {
    background-image: url('./../../assets/about.svg');
  }

  &.icon-skills {
    background-image: url('./../../assets/skills.svg');
  }

  &.icon-projects {
    background-image: url('./../../assets/project.svg');
  }

  &.icon-portfolio {
    background-image: url('./../../assets/portfolio.svg');
  }

  &.icon-contact {
    background-image: url('./../../assets/contact.svg');
  }

  &.icon-hand {
    background-image: url('./../../assets/waving-hand.svg');
  }

  &.icon-email {
    background-image: url('./../../assets/email.svg');
  }

  &.icon-telegram {
    background-image: url('./../../assets/telegram.svg');
  }


  &.icon-right-arrow {
    width: 15px;
    height: 15px;
    background-image: url('./../../assets/right-arrow.svg');
  }

}