
.profile {
  width: 100%;
  padding: 45px 15px 15px 15px;

  @media (min-width: 767px) and (max-width: 1019px) {
    width: 60%;
  }

  @media (min-width: 1020px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  &__logo {
    display: flex;
    justify-content: center;

    @media (min-width: 1020px) {
      order: 2;
    }

    &-icon {
      background-color: #b4b4b4;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
      border: 5px solid #b4b4b4;
      background-image: url('./../../assets/logo.png');
      background-size: contain;
      background-position: center;

      @media (max-width: 767px) {
        width: 180px;
        height: 180px;
      }

      @media (min-width: 767px) and (max-width: 1019px) {
        width: 220px;
        height: 220px;
      }

      @media (min-width: 1020px) {
        width: 500px;
        height: 500px;
      }

    }
  }

  &__info {
    @media (min-width: 1020px) {
      width: 800px;
      height: 400px;
      order: 1;
    }
  }

  &__name {
    @media (max-width: 1019px) {
      margin-top: 25px;
      font-size: 30px;
    }

    @media (min-width: 1020px) {
      font-size: 75px;
    }
  }

  &__vocation {
    margin-left: 60px;
    position: relative;
    color: #3a3637;

    @media (max-width: 1019px) {
      margin-top: 10px;
      font-size: 18px;
    }

    @media (min-width: 1020px) {
      font-size: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: #fadf4c;
      top: 50%;
      transform: translateY(-50%);
      left: -60px;
    }
  }

  &__about {
    margin-top: 20px;

    @media (min-width: 1020px) {
      font-size: 20px;
    }
  }
}

.social-media {
  position: absolute;
  top: 90px;

  &__li {

    & + & {
      margin-top: 15px;
    }

  }

  &__a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;


    &.instagram {
      background-image: url('./../../assets/instagram.svg');
    }

    &.linkedin {
      background-image: url('./../../assets/linkedin.svg');
    }

    &.github {
      background-image: url('./../../assets/github.svg');
    }
  }
}


.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1019px) {
    padding: 30px 0;
  }

  @media (min-width: 1020px) {
    padding: 50px 0;
  }

  &__title {
    width: fit-content;
    text-align: center;
    position: relative;
    z-index: 1;

    @media (max-width: 1019px) {
      font-size: 30px;
      line-height: 30px;
    }

    @media (min-width: 1020px) {
      font-size: 50px;
      line-height: 50px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 40%;
      bottom: 0;
      background-color: #fadf4c;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  &__subtitle {
    margin-top: 10px;
    color: #8d8b8d;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
  }
}




.about {
  padding: 15px;

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (min-width: 767px) and (max-width: 1019px) {
    width: 60%;
  }

  @media (min-width: 1020px) {
    width: 100%;
  }

  &__wrap {
    @media (min-width: 1020px) {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1020px) {
      align-items: flex-start;
      width: 480px;
    }
  }


  &__cv {
    margin-top: 20px;
    width: 160px;
    height: 36px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #3a3637;
  }

  &__img {
    display: flex;
    justify-content: center;

    &-icon {
      background-image: url('./../../assets/logo.png');
      background-size: contain;
      border-radius: 15px;

      @media (max-width: 1019px) {
        width: 200px;
        height: 200px;
      }

      @media (min-width: 1020px) {
        width: 360px;
        height: 360px;
      }
    }
  }

  &__description {
    margin-top: 30px;
    text-align: justify;
  }
}

.boxes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.box {
  background-color: #fff;
  border: 1px solid #eeedee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    width: 90px;
    height: 90px;
  }

  @media (min-width: 1020px) {
    width: 150px;
    height: 150px;
    font-size: 18px;
  }

  & + & {
    margin-left: 10px;
  }

  &__title {
    margin-top: 5px;
    color: #3a3637;
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 500;
    color: #6e6c6d;
  }

  &__icon {
    width: 20px;
    height: 20px;
    background-size: contain;

    &.experience {
      background-image: url('./../../assets/experience.svg');
    }

    &.job {
      background-image: url('./../../assets/job.svg');
    }

    &.customerservice {
      background-image: url('./../../assets/customerservice.svg');
    }
  }
}

.skills {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;

  &__list {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    background-color: #fff;
    border: 1px solid #eeedee;
    border-radius: 15px;

    @media (max-width: 767px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      width: 60%;
    }
  }
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: 1020px) {
    font-size: 20px;
  }

  &__level {
    color: #8d8b8d;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__title {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url('./../../assets/verified.svg');
      background-size: contain;

      @media (max-width: 1019px) {
        width: 15px;
        height: 15px;
        right: -20px;
      }

      @media (min-width: 1020px) {
        width: 20px;
        height: 20px;
        right: -25px;
      }
    }
  }
}

.qualification {
  width: 100%;

  @media (max-width: 767px) {
    padding: 15px 30px;
  }

  @media (min-width: 768px) {
    padding: 15px 0;
  }
}

.qualification-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;


  &__item {
    position: relative;
    font-weight: 700;
    cursor: pointer;

    @media (max-width: 1019px) {
      font-size: 18px;
    }

    @media (min-width: 1020px) {
      font-size: 25px;
    }

    &.active {
      &::before {
        visibility: visible;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #fadf4c;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
    }

    & + & {
      margin-left: 30px;
    }

    a {
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
      color: #000;
    }
  }
}

.timeline {
  position: relative;
  margin: 30px 0;

  @media (max-width: 1019px) {
    font-size: 12px;
  }

  @media (min-width: 1020px) {
    font-size: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 100px);
    left: 0;
    background-color: #6e6c6d;

    @media (min-width: 758px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-subtitile {
    display: inline-block;
    margin-top: 5px;
  }

  &-container {
    width: 100%;
    height: 100px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #fadf4c;
      border: 3px solid #323232;
      left: -6px;
      top: 0;
      box-sizing: border-box;
    }

    @media (max-width: 767px) {
      padding: 0 20px 0 40px;

      & + & {
        margin-top: 20px;
      }
    }

    @media (min-width: 758px) {
      padding: 0 40px 0 40px;
      width: 50%;

      &.left {
        left: 0;

        .timeline-content {
          align-items: flex-end;
        }

        &::before {
          left: unset;
          right: -8px;
        }
      }

      &.right {
        left: 50%;
      }
    }
  }

  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.timeline-calendar {
  &__icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('./../../assets/calendar.svg');
    background-size: contain;
  }

  &__value {
    display: inline-block;
    margin-top: 5px;
    color: #8d8b8d;
    margin-left: 10px;
  }
}

.contact {
  padding: 15px;
  font-weight: 500;
  color: #3a3637;

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1019px){
    width: 60%;
  }

  @media (min-width: 1019px) {
    width: 100%;
  }

  &__msg {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  &__value {
    margin-top: 5px;
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    background-color: #fff;
    border: 1px solid #eeedee;

    @media (max-width: 767px) {
      & + & {
        margin-top: 15px;
      }
    }

    @media (min-width: 768px) {
      & + & {
        margin-left: 15px;
      }
    }
  }

  &__boxes {
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
}

@keyframes move {
  from {
    transform: translateY(5px);
  }

  to {
    transform: translateY(10px);
  }
}

.scroll {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;

  @media (min-width: 1020px) {
    display: flex;
    bottom: 100px;
  }


  &__msg {
    margin-left: 10px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;;
      background-image: url('./../../assets/down-arrow.png');
      background-size: 15px;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__icon {
    display: inline-block;
    width: 15px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #222222;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 8px;
      background-color: #000;
      left: 7px;
      transition: all .2s;
      animation: move linear 2s infinite;
    }
  }
}