.footer {
  padding: 30px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3a3637;
  font-size: 12px;
  font-weight: 500;

  &__title {
    font-size: 20px;
    margin: 20px 0;
  }
}